@use '../../lib/font';

/* switch off animation on blog page */
.avia_desktop.avia_transform3d .av-masonry-entry.av-masonry-item-loaded .av-inner-masonry {
    animation: none;
    background: rgba(255,0,0,0.15);
}

%masonry-base {
    .av-masonry-date {
        position: absolute;
        bottom: 0px !important;
        left: 0px;

        width: 100%;

        margin: 0px !important;
        padding: 20px;

        text-align: left;
    }

    .av-masonry-load-more {
        @include font.museo();

        border-radius: 0px !important;

        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px !important;
        text-transform: uppercase !important;

        background-color: #FFF !important;
        color: #000 !important;

        transition: 0.3s;

        &:hover {
            letter-spacing: 2px !important;

            color: #FFF !important;
            background-color: #000 !important;
        }
    }

    .masonry-box h3.av-masonry-entry-title {
        @include font.museo();

        position: absolute;
        bottom: 10px;
        left: 0px;

        width: 90%;

        margin: 0px !important;
        padding: 20px 20px 40px 20px;

        line-height: 1.6 !important;
        text-align: left;

        background-color: #000;
        color: #fff !important;
    }

    .av-caption-style-overlay {
        .av-masonry-item-with-image {
            .av-inner-masonry-content {
                background: rgba(0,0,0,0.2);
                background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));

                &-pos {
                    vertical-align: bottom;
                }

                .av-masonry-entry-title {
                    font-size: 24px !important;
                }
            }
        }
    }
}

body,
#top {
    @extend %masonry-base;
}
