ul {
    margin-top: 10px;

    li {
        font-size: 17px !important;
        line-height: 1.6 !important;

        img {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
